h1 {
  font-family: Futura, Trebuchet;
  font-size: 2.5em;
  color: #424242;
  text-align: center;
  margin-top: 5px;
  margin-bottom: -10px;
}

h2 {
  /*font-family: 'Amatic SC', cursive;*/
  font-size: 2em;
  color: #000000;
  text-align: center;
  margin-top: 3%;
  letter-spacing: 2px;
}

h3 {
  font-family: Futura, Trebuchet;
  font-size: 1.5em;
  color: #424242;
  text-align: center;
  margin-top: -2%;
}

p {
  font-family: 'Lato', sans-serif;
  /*font-size: 1.5em;*/
  color: #424242;
  text-align: center;
  margin-top: -2%;
  font-size: 20px;
}

#title-text {
  font-size: 1.25em;
}

#main-paragraph {
  /*font-size: 1.25em;*/
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 40px;
}

#main-paragraph h1 {
  font-family: Futura, Trebuchet;
  font-size: 2.25em;
  color: #424242;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 20px;
}

#main-paragraph p {
  font-family: 'Lato', sans-serif;
  /*font-size: 1.5em;*/
  color: #424242;
  text-align: center;
  /*margin-top: -2%;*/
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;
}

.fa {
  color: #424242;
  margin-right: 20px;
  margin-left: 20px;
}

.fa-tree:hover {
    color: #df4078;
}

body {
  /*background-color: #f0d151;*/
  background-color: #d2a484;
}

.container-fluid {
  margin-top: -10px;
}

.row-top {
  background-color: #eadde1;
  padding: 5px;
  padding-top: 50px;
  padding-bottom: 30px;
  margin-left: -15px;
  margin-right: -15px;
}

.row-bottom {
  background-color: #d2a484;
  padding-top: 120px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 50px;
  margin-left: -15px;
  margin-right: -15px;
}

.profile-card-one {
  background-color: #df4078;
  margin-bottom: 10px;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 1.25em;
  box-shadow: 5px 5px 10px #888888;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.profile-card-one:hover {
  background-color: #df4078;
}

.profile-card-two {
  background-color: #f0d151;
  margin-bottom: 10px;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 1.25em;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 5px 5px 10px #888888;
  width: 400px;
}

.profile-card-two:hover {
  background-color: #f0d151;
}

.profile-card-three {
  background-color: #8DC63F;
  margin-bottom: 80px;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 1.25em;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 5px 5px 10px #888888;
  width: 400px;
}

.profile-card-three:hover {
  background-color: #8DC63F;
}

.contact-icons {
  text-align: center;
}

a:link {
  text-decoration: none;
}

.profile-pic {
  border-radius: 50%;
  position: absolute;
  top: 235px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  max-width: 150px;
  border: solid;
  border-width: 1px;
}

.projects-row {
  font-family: Futura, Trebuchet;
  padding: 5px;
  margin-top: -70px;
  text-align: center;
}

.projects-row .fa  {
  border: 2px solid #000;
  border-radius: 50%;
  display: inline-block;
  font-size: 40px;
  height: 175px;
  width: 175px;
  line-height: 175px;
  text-align: center;
  background-color: #eadde1;
}

.about-section p {
  margin-top: -75px;
  margin-bottom: -10px;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 18px;
  text-align: left;
  /*word-wrap: break-word;*/
  /*display: block;*/
}

.about-section ul, li {
  font-family: 'Lato', sans-serif;
  /*font-size: 1.5em;*/
  color: #424242;
  text-align: left;
  font-size: 18px;
  list-style-type: none;
  padding-left: 7%;
  padding-right: 7%;
}

.about-section h2 {
  font-size: 18px;
  color: #000000;
  text-align: left;
  margin-bottom: 5px;
  letter-spacing: 2px;
  font-family: 'Lato', sans-serif;
  padding-left: 7%;
  padding-right: 7%;
}
