p {
  font-family: Futura, Trebuchet;
  font-size: 1em;
  color: #000000;
  text-align: center;
  margin-top: -2%;
}

h1 {
  font-family: Futura, Trebuchet;
  font-size: 2.5em;
  color: #000000;
  text-align: center;
  margin-top: 5px;
  margin-bottom: -20px;
}

h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
  color: #000000;
  text-align: center;
  margin-top: 3%;
}

.fa {
  color: #424242;
}
body {
  /*background-color: #cbc9d2;*/
}

.container {
  padding: 10px;
  /*background-color: #eadde1;*/
  /*background-color: gray;*/
  margin-right: 60px;
  margin-left: 60px;
  margin-bottom: 60px;
}

.row-top {
  background-color: #eadde1;
  padding: 20px;
  /*margin: 5px;*/
  border: solid;
  border-width: 1px;
}

.row-bottom {
  background-color: #d2a484;
  padding-top: 100px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 20px;
  border-right: solid;
  border-bottom: solid;
  border-left: solid;
  border-width: 1px;
}

.profile-card-one {
  background-color: #df4078;
  margin-bottom: 20px;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 1.5em;
  margin-right: 20%;
  margin-left: 20%;
}

.profile-card-two {
  background-color: #f0d151;
  margin-bottom: 20px;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 1.5em;
  margin-right: 20%;
  margin-left: 20%;
}

.profile-card-three {
  background-color: #8DC63F;
  margin-bottom: 100px;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 1.5em;
  margin-right: 20%;
  margin-left: 20%;
}

.contact-icons {
  text-align: center;
  letter-spacing: 10px;
}

.profile-pic {
  border-radius: 50%;
  position: absolute;
  top: 365px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  max-width: 120px;
  border: solid;
  border-width: 1px;
}

.projects-row {
  background-color: gray;
  font-family: Futura, Trebuchet;
  padding: 5px;
  margin-top: -70px;
}

.project-images {
  height: 200px;
  width: 200px;
}

.about-section {
  margin-top: -70px;
  margin-bottom: -10px;
  padding: 5px;
}
